@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Inter', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul{
  list-style: none;
}
img{
  vertical-align: middle;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

/* menu part start */

.menu-bg{
  padding: 17px 0;
}
.logo:hover .one{
  fill: greenyellow;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.logo:hover .two{
  fill: black;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.menu-bg ul li a{
  color: #181818 !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 0 24px !important;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.menu-bg ul li a::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background: #5956E8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 30px;
  left: 49px;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.menu-bg ul li a:hover{
  color: #5956E8 !important;
}
.menu-bg ul li a:hover::after{
  opacity: 1;
}
.contact_btn{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.contact_btn a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  padding: 13px 24px;
  background-color: #5956E8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact_btn a:hover{
  background-color: red;
}

/* menu part end */


/* banner part start */


#banner{
  padding: 130px 0;
  background-color: #5956E8;
}
.banner_text h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 80px;
  color: #FFFEFE;
  padding-bottom: 14px;
}
.banner_text p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  width: 542px;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  padding-bottom: 40px;
}
.ban_btn a{
  padding: 13px 22px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #5956E8;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.ban_btn a:hover{
  background-color: red;
  color: #FFFFFF;
}
/* banner part start */

/* service part start */

 #service{
  padding-top: 75px;
 }
 .service_text h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 8px;
  color: #181818;
 }
 .service_text p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: rgba(24, 24, 24, 0.7);
  width: 542px;
  margin-left: 47px;
  padding-bottom: 50px;
 }
 .ser_box_text h5{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #181818;
  padding-top: 20px;
  padding-bottom: 8px;
 }
 .ser_box_text p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: rgba(24, 24, 24, 0.7);
  width: 274px;
 }
 .ser_img{
  width: 70px;
  height: 70px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 70px;
  border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.ser_main:hover .ser_img{
  background-color: #5956E8;
  border: 1px solid transparent;
}
.ser_main:hover .ser_img .one{
  fill: #fff !important;
}
.ser_main{
  border: 1px solid rgba(221, 221, 221, 0.427);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 50px;
  padding-bottom: 28px;
  border-radius: 10px;
  box-shadow: 2px 1px 12px 3px rgba(232,224,224,0.53);
  -webkit-box-shadow: 2px 1px 12px 3px rgba(232,224,224,0.53);
  -moz-box-shadow: 2px 1px 12px 3px rgba(232,224,224,0.53);
}
/* service part end */

/* portfolio part start */

 #portfolio{
  padding-top: 58px;
  padding-bottom: 50px;
 }

 .port_text h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 8px;
  color: #181818;
 }
 .port_text p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: rgba(24, 24, 24, 0.7);
  width: 542px;
  margin-left: 47px;
  padding-bottom: 30px;
 }
 .port_main{
  padding: 23px 28px;
  background: #E2E8F1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 40px;
 }
 .port_main button{
    border: none;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    padding: 0 14px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.port_main button:hover{
  color: #5956E8;
}
.portfolio_img img{
  width: 100%;
}
.portfolio_img{
  position: relative;
}
.port_overlay {
  position: absolute;
  content: '';
  left: 22px;
  bottom: 17px;
  width: 80%;
  height: 30%;
  background-color: #5956E8;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.port_overlay h5{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 28px;
  padding-bottom: 5px;
}
.port_overlay p{
  color: #fff;
  text-align: center;
}
.portfolio_img:hover .port_overlay{
  opacity: 1;
}
/* portfolio part end */

/* team part start */

.paddding{
  padding-bottom: 20px;
}
.team_img img {
  width: 94%;
  margin: 0 15px;
}
#team{
  position: relative;
}
#team .slick-dots {
  position: absolute;
  bottom: -33px;
  left: 0%;
  text-align: center;
}
#team .slick-dots li{
  display: inline-block;
  margin: 0 5px;
}
#team .slick-dots li button{
  width: 10px;
  height: 10px;
  background-color: #80808096;
  border-radius: 50%;
  color: transparent;
  border: none;
}
#team .slick-dots li.slick-active button{
  background-color: #5956E8;
}
/* team part end */


/* testimonial part start */

#testi{
  padding: 90px 0;
  position: relative;
}
.testi_text h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 8px;
  color: #181818;
}
.testi_text p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: rgba(24, 24, 24, 0.7);
  width: 542px;
  padding-bottom: 30px;
}
.img_icon{
  margin-top: 15px;
}
.img_icon i{
  color: #E4A25E;
}
.pera{
  margin-top: 14px;
}
.pera p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: rgba(24, 24, 24, 0.7);
  width: 274px;
}
.pera h5{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #181818;
}
.pera span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: -10px;
  color: #5D5D5D;
}
.img_twoo img {
  margin-left: 206px;
  margin-top: -33px;
}
.testi_main{
  border: 1px solid rgba(221, 221, 221, 0.427);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 50px;
  padding-bottom: 28px;
  border-radius: 10px;
  box-shadow: 2px 1px 12px 3px rgba(232,224,224,0.53);
  -webkit-box-shadow: 2px 1px 12px 3px rgba(232,224,224,0.53);
  -moz-box-shadow: 2px 1px 12px 3px rgba(232,224,224,0.53);
  margin: 0 15px;
}
#testi ul {
  position: absolute;
  left: 0;
  bottom: -55px;
  text-align: center;
}
#testi ul li{
  display: inline-block;
  margin: 0 5px;
}
#testi ul li button {
  color: transparent;
  border: none;
  width: 10px;
  height: 10px;
  background-color: #80808096;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 1px;
}
#testi ul li.slick-active button{
  background-color: #5956E8 !important;
}
/* testimonial part end */


/* letest part start */

 #letest{
  padding: 10px 0;
 }
 .letest_main {
  margin-bottom: 87px;
  padding-left: 40px;
  padding-right: 0px;
  padding-top: 28px;
  padding-bottom: 22px;
  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.let_item{
  margin-left: 10px;
}
.let_icon{
  color: #777;
  padding-top: 14px;
}
.last_head h6{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #181818;
  width: 271px;
}
.last_head p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #5D5D5D;
  width: 300px;
  padding-top: 8px;
}
.last_head a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #5956E8;
}
/* letest part end */

/* footer part start */
  

 #footer{
  padding: 70px 0;
  background-color: #EEEEFD;
 }
 .footer_logo img{
  width: 28%;
 }
 .foot_pera{
  padding-top: 10px;
 }
 .foot_pera p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #5D5D5D;
  width: 300px;
 }
 .foot_icon i{
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #5956E8;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 0 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.foot_icon i:hover{
  color: aqua;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.foot_head h5{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}
.four_ppp{
  padding-top: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #5D5D5D;
}
.fooott {
  margin-left: 73px;
}
.two_four{
  padding-top: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #5D5D5D;
}
.secent_four{
  margin-left: 73px;
}
.three_four{
  padding-top: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #5D5D5D;
}
.thurt_four{
  margin-left: 73px;
}
.four_four{
  padding-top: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #5D5D5D;
}
.fort_four {
  margin-left: 68px;
}
/* footer part end */